<NavLink class="nav-link-default" Href="/" Match="NavLinkMatch.All">
    <MudButton Variant="Variant.Text"
               Color="Color.Info"
               IconColor="Color.Info"
               StartIcon="@Icons.Material.Outlined.Grid4x4">
        <span class="nav-link-text">Home</span>
    </MudButton>
</NavLink>

@foreach (var nli in customNLI) {
    <NavLink class="nav-link-default" Href="@nli.Href">
        <MudButton Variant="Variant.Text"
                   Color=@nli.Color
                   IconColor="@nli.Color"
                   StartIcon="@nli.Icon">
            <span class="nav-link-text">@nli.Name</span>
        </MudButton>
    </NavLink>
}

<AuthorizeView>
    <Authorized>

        <NavLink class="w-auto" Match="NavLinkMatch.Prefix">
            <MudButton Class="w-full h-full"
                       Variant="Variant.Text"
                       Color=Color.Info
                       IconColor=Color.Info
                       StartIcon=@Icons.Material.Outlined.SpatialAudio
                       Href="auth">
                <span>Auth Required</span>
            </MudButton>
        </NavLink>

        <NavLink class="w-auto" Match="NavLinkMatch.Prefix">
            <MudButton Class="w-full h-full"
                       Variant="Variant.Text"
                       Color=Color.Primary
                       IconColor=Color.Primary
                       StartIcon=@Icons.Material.Filled.GridView
                       Href="Account/Manage">
                <span>@context.User.Identity?.Name</span>
            </MudButton>
        </NavLink>

        <NavLink class="w-auto" Match="NavLinkMatch.Prefix">
            <MudButton Class="w-full h-full"
                       Variant="Variant.Text"
                       Color=Color.Primary
                       IconColor=Color.Primary
                       StartIcon=@Icons.Material.Filled.HowToReg
                       Href="Account/Register">
                <span>Register</span>
            </MudButton>
        </NavLink>

    </Authorized>
    <NotAuthorized>

        <NavLink class="nav-link-default" Href="Account/Login" Match="NavLinkMatch.Prefix">
            <MudButton Variant="Variant.Text"
                       Color=Color.Info
                       IconColor=Color.Info
                       StartIcon=@Icons.Material.Filled.Login>
                <span class="nav-link-text">Login</span>
            </MudButton>
        </NavLink>

    </NotAuthorized>
</AuthorizeView>

@code {
    List<NavigationLinkInfo> customNLI = new() {
        new NavigationLinkInfo(
            href: "img-manager",
            name: "Img",
            Icon: Icons.Material.Outlined.PhotoLibrary,
            color: Color.Warning),
        new NavigationLinkInfo(
            href: "upload",
            name: "Upload",
            Icon: @Icons.Material.Filled.FileUpload,
            color: Color.Success)
    };




    public class NavigationLinkInfo {

        public string Href { get; set; }
        public string Name { get; set; }
        public string Icon { get; set; }
        public NavLinkMatch Match { get; set; }
        public MudBlazor.Color Color { get; set; }

        public NavigationLinkInfo(string href = "",
                                  string name = "",
                                  string Icon = Icons.Material.Outlined.DisabledByDefault,
                                  NavLinkMatch match = NavLinkMatch.Prefix,
                                  MudBlazor.Color color = MudBlazor.Color.Primary) {
            this.Href = href;
            this.Name = name;
            this.Icon = Icon;
            this.Match = match;
            this.Color = color;
        }
    }
}
